{% extends "base.html" %}

{% block main %}

    <h1>Produtos</h1>
    <br>
    <p>Masculino</p>
    <br>
    <p>Uniforme masculino primeiro branco 22/23 - R$550</p>
    <p>Uniforme masculino segundo roxo 22/23 - R$530</p>
    <p>Uniforme masculino terceiro preto 22/23 - R$520</p>
    <p>Calção masculino primeiro branco 22/23 - R$230</p>
    <p>Uniforme masculino terceiro preto 22/23 - R$300</p>
    <br>
    <p>Feminino</p>
    <br>
    <p>Uniforme feminino primeiro branco 22/23 - R$450</p>
    <p>Uniforme feminino primeiro branco 22/23 - R$430</p>
    <p>Uniforme feminino primeiro branco 22/23 - R$390</p>
    <p>Calção feminino primeiro branco 22/23 - R$250</p>
    <br>
    <p>Infatil</p>
    <br>
    <p>Camisa de treino para jovens Púrpura 22/23 - R$300</p>
    <p>Calças de treino para jovens Marinha 22/23 - R$250</p>
    <br>
    <p>Coleção</p>
    <p>Casaco canguru homem preto/dourado - R$350</p>
    <p>2 pacotes de cuecas boxers curtos preto/cinza - R$120</p>
    <p>Conjunto de treino (jaqueta e calça) para homens azul - R$750</p>
    <br>
    <p>Acessórios</p>
    <br>
    <p>Bracelete trançado verde/cinza real madrid - R$120</p>
    <p>Chaveiro preto e branco real madrid - R$90</p> 
    <p>Relógio viceroy com bracelete de aço para jovens prata/azul - R$255</p>
    <p>Mochila portátil cinzento escuro - R$220</p>
    <br>

{% endblock %}
