{% extends "base.html" %}

{% block main %}

    <h1>Produtos</h1>
    <br>
    <p>Masculino</p>
    <br>
    <p>Uniforme masculino primeiro branco 22/23</p>
    <p>Uniforme masculino segundo roxo 22/23</p>
    <p>Uniforme masculino terceiro preto 22/23</p>
    <p>Calção masculino primeiro branco 22/23</p>
    <p>Uniforme masculino terceiro preto 22/23</p>
    <br>
    <p>Feminino</p>
    <br>
    <p>Uniforme feminino primeiro branco 22/23</p>
    <p>Uniforme feminino primeiro branco 22/23</p>
    <p>Uniforme feminino primeiro branco 22/23</p>
    <p>Calção feminino primeiro branco 22/23</p>
    <br>
    <p>Infatil</p>
    <br>
    <p>Camisa de treino para jovens Púrpura 22/23</p>
    <p>Calças de treino para jovens Marinha 22/23 </p>
    <br>
    <p>Coleção</p>
    <p>Casaco canguru homem preto/dourado</p>
    <p>2 pacotes de cuecas boxers curtos preto/cinza</p>
    <p>Conjunto de treino (jaqueta e calça) para homens azul</p>
    <br>
    <p>Acessórios</p>
    <br>
    <p>Bracelete trançado verde/cinza real madrid </p>
    <p>Chaveiro preto e branco real madrid</p> 
    <p>Relógio viceroy com bracelete de aço para jovens prata/azul</p>
    <p>Mochila portátil cinzento escuro</p>
    <br>
    
{% endblock %}