{% extends "base.html" %}

{% block main %}

    <h1>Produtos</h1>

    <p>Uniforme masculino primeiro branco 22/23</p>
    <p>Uniforme masculino segundo roxo 22/23</p>
    <p>Uniforme masculino terceiro preto 22/23</p>
    <p>Uniforme feminino primeiro branco 22/23</p>
    <p>Uniforme feminino primeiro branco 22/23</p>
    <p>Uniforme feminino primeiro branco 22/23</p>

    <p>Calção masculino primeiro branco 22/23</p>
    <p>Calção feminino primeiro branco 22/23</p>

    <p>Camisa de treino para jovens Púrpura 22/23</p>
    <p>Calças de treino para jovens Marinha 22/23 </p>
    
    <p>Uniforme masculino terceiro preto 22/23</p>

    <p>Acessórios</p>

{% endblock %}